<div class="modal-content">
    <!-- MODAL HEADER -->
    <div class="modal-header">
        <h3>Tu perfil de usuario</h3>
        <button type="button" class="close" (click)="modalService.dismiss()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <input type="text" class="d-none" ngbAutofocus>
        <!-- 
            trick for "remove" autofocus, it has some double clicks problems
            https://stackoverflow.com/questions/53613974/angular7-and-ngbmodal-how-to-remove-default-auto-focus
        -->
    </div>
    <!-- /MODAL HEADER -->
    <!-- MODAL BODY -->
    <div class="modal-body" #modalBody>
        <!-- USER UPDATE FORM -->
        <form [formGroup]="userForm" novalidate>
            <!-- EMAIL -->
            <div class="form-group">
                <label for="email">Correo electrónico</label>
                <input type="text" id="email" class="form-control" [value]="user.email" disabled>
            </div>
            <!-- /EMAIL -->
            <!-- PASSWORD -->
            <div class="form-group">
                <label for="password">Contraseña</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <span class="mdi mdi-lock"></span>
                        </span>
                    </div>
                    <input type="password" id="password" formControlName="password" class="form-control"
                    [ngClass]="{'is-valid':password.valid && (password.dirty || password.touched),
                    'is-invalid': password.invalid && (password.dirty || password.touched)}"
                    placeholder="••••••">
                </div>
                <form-error-messages [control]="password"></form-error-messages>
            </div>
            <!-- /PASSWORD -->
            <!-- PASSWORD_CONFIRMATION -->
            <div class="form-group">
                <label for="password_confirmation">Confirma tu contraseña</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <span class="mdi mdi-lock-check"></span>
                        </span>
                    </div>
                    <input type="password" id="password_confirmation" formControlName="password_confirmation" class="form-control"
                    [ngClass]="{'is-valid':password_confirmation.valid && (password_confirmation.dirty || password_confirmation.touched), 
                    'is-invalid': (password_confirmation.invalid || password.errors?.mustMatch) && (password_confirmation.dirty || password_confirmation.touched)}"
                    placeholder="••••••">
                </div>
                <form-error-messages [control]="password_confirmation"></form-error-messages>
                <!-- extra errors -->
                <div *ngIf="password_confirmation.errors?.mustMatch" class="text-danger">
                    <small>Las contraseñas deben coincidir</small>
                </div>
                <!-- /extra errors -->
            </div>
            <!-- /PASSWORD_CONFIRMATION -->
            <!-- NAME -->
            <div class="form-group">
                <label for="name">Nombre</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <span class="mdi mdi-account-details"></span>
                        </span>
                    </div>
                    <input type="text" id="name" formControlName="name" class="form-control"
                    [ngClass]="{'is-valid':name.valid && (name.dirty || name.touched),
                    'is-invalid': name.invalid && (name.dirty || name.touched)}"
                    placeholder="John Doe">
                </div>
                <form-error-messages [control]="name"></form-error-messages>
            </div>
            <!-- /NAME -->
            <!-- BORN_DATE -->
            <div class="form-group">
                <label for="born_date">Fecha de nacimiento</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <span class="mdi mdi-calendar-month"></span>
                        </span>
                    </div>
                    <input type="date" id="born_date" formControlName="born_date" class="form-control"
                    [ngClass]="{'is-valid':born_date.valid && (born_date.dirty || born_date.touched),
                    'is-invalid': born_date.invalid && (born_date.dirty || born_date.touched)}"
                    placeholder="01/01/1970">
                </div>
                <form-error-messages [control]="born_date"></form-error-messages>
                <!-- extra errors -->
                <div *ngIf="born_date.errors?.invalidDateFormat" class="text-danger">
                    <small>Formato de fecha no válido</small>
                </div>
                <div *ngIf="born_date.errors?.tooYoung" class="text-danger">
                    <small>Debes tener al menos 18 años</small>
                </div>
                <!-- /extra errors -->
            </div>
            <!-- /BORN_DATE -->
            <!-- MINS_BEFORE -->
            <div class="form-group">
                <label for="mins_before">Minutos antes del aviso para tomar la medicación</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <span class="mdi mdi-clock"></span>
                        </span>
                    </div>
                    <input type="number" id="mins_before" formControlName="mins_before" class="form-control"
                    [ngClass]="{'is-valid':mins_before.valid && (mins_before.dirty || mins_before.touched),
                    'is-invalid': mins_before.invalid && (mins_before.dirty || mins_before.touched)}"
                    placeholder="5">
                </div>
                <form-error-messages [control]="mins_before"></form-error-messages>
            </div>
            <!-- /MINS_BEFORE -->
        </form>
        <!-- /USER UPDATE FORM -->
        <!-- PICTURE -->
        <div>
            <div class="pictureDiv mx-auto" (click)="picture_input.click()">
                <img [src]="user.picture|image:'users/pictures'" [alt]="'imagen de '+user.name" [title]="'imagen de '+user.name"
                class="w-100 rounded-top">
                <button type="button"
                class="btn btn-primary btn-block">
                    <span class="mdi mdi-image-edit">Actualizar imagen</span>
                </button>
                <input type="file" #picture_input class="d-none" accept="image/png,image/jpg,image/jpeg"
                (change)="uploadPicture($event.target)">
            </div>
            <small *ngIf="pictureError" class="text-danger">{{ pictureError }}</small>
        </div>
        <!-- /PICTURE -->
    </div>
    <!-- /MODAL BODY -->
    <!-- MODAL FOOTER -->
    <div class="modal-footer">
        <!-- CLOSE BTN -->
        <button type="button" class="btn btn-primary mr-auto" (click)="modalService.dismiss()">
            Cerrar
        </button>
        <!-- /CLOSE BTN -->
        <!-- UPDATE BTN -->
        <button type="button" class="btn btn-primary" [disabled]="userForm.pristine" (click)="update()">
            Actualizar
        </button>
        <!-- /UPDATE BTN -->
    </div>
    <!-- /MODAL FOOTER -->
</div>